@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #000;
    gap: 30px;
}

@media screen and (min-width:696px){
    body{
        background-color: #FFF;
        color: #000;
    }
}

h1{
    color: red;
}

p{
    color: red;
}

.btnLog{
    width: 150px;
    height: 50px;
    border: 100px solid #fff;
    cursor: pointer;
}